*{
    margin: 0;
    padding: 0;
}
body
{
    background-color: antiquewhite;
    text-align: center;
}
.main{
    margin-top: 5%;
}
.container
{
    height: 60vh;
    /* width: 40vw; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* background-color: aquamarine; */
    /* text-align: center; */
}
.game
{
    width: 50vw;
    height: 50vh;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3%;
    /* gap:1.5vmin; */
    
}
.box
{
    width: 15.5vw;
    height: 15.5vh;
    border-radius: 5px;
    font-size: 30px;
    color: red;
    box-shadow: 0 0 8px black;
}

#reset
{
    padding: 15px 20px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    background-color: black;

}