*{
    margin: 0;
    padding: 0;
}
body
{
    background-color: antiquewhite;
    text-align: center;
}
.main{
    margin-top: 5%;
}
.container
{
    height: 60vh;
    display: flex;
    justify-content: center;
}
.game
{
    width: 50vw;
    height: 50vh;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3%;
    
}
.box
{
    width: 15.5vw;
    height: 15.5vh;
    border-radius: 5px;
    font-size: 30px;
    color: red;
    box-shadow: 0 0 8px black;
}

#reset
{
    padding: 15px 20px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    background-color: black;

}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
  
  #msg {
    color: #ffffc7;
    font-size: 5vmin;
  }
  
  .winningMessage {
    margin-top: 200px;
  }
  .winningMessage{
    display: none;
  }